* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #fff;
    text-shadow: 0 2px 10px #000;
}

body {
    background-color: azure;

}

.title {
    margin: 20px auto;
}

.players {
    margin: 40px auto;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.comments {
    margin: 40px;
    font-size: 20px;
    color: #909090;
    font-weight: 600;
    text-shadow: none;
}

.player-mark {
    font-size: 26px;
    font-weight: 600;
    color: #909090;
    text-shadow: none;
}

.board {
    margin: 40px auto;
    height: calc(67px * 3 + 10px);
    width: calc(67px * 3 + 10px);
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 70px 70px 70px;
    grid-template-rows: 70px 70px 70px;
    gap: 5px;

    background-color: gray;
    box-shadow: 0 0 8px 0 #000;
}

.counter-container {
    margin: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.counter {
    font-size: 20px;
    color: #909090;
    font-weight: 600;
    text-shadow: none;
}

.btn {
    font-size: 42px;
    font-weight: 600;
    color: cornsilk;
    background-color: #f4fcfc;
    border: none;
    border-radius: 3px;
}

.new-btn {
    margin-left: 30px;
}

.reset {
    margin-bottom: 30px;
    padding: 8px 28px;
    font-size: 20px;
    background-color: gray;
    border-radius: 8px;
    cursor: pointer;
}

.change-name {
    font-size: 16px;
}

dialog {
    width: 300px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.95);
    border: none;
    border-radius: 5px;
}

.dialog-title {
    margin: 25px;
}

.row {
    margin: 25px;
}

.row label {
    font-weight: 600;
    color: #909090;
    text-shadow: none;
}

.row input {
    width: 100px;
    margin-left: 15px;
    padding: 3px 10px;
    text-align: left;
    font-weight: 500;
    text-shadow: none;
    color: #000;
    border-radius: 6px;
    border: none;
    box-shadow: 1px 1px 4px 0 #000000;
}